
@import "tailwindcss";
 :root {
   font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .main-container {
  max-width: 1300px;
 }

@custom-variant dark (&:where(.dark, .dark *));

 @theme {
    --color-bg: #FAF9F6;
    --color-primary: #1D2134;
    --color-secondary: #4B4B4B;
 }

 .dark {
   --color-bg: #121212;
   --color-primary: #FAF9F6;
   --color-secondary: #FAF9F6;
 }

 body {
   background-color: var(--color-bg);
   color: var(--color-primary);
 }

 iframe#webpack-dev-server-client-overlay {
   display: none !important
 }